.container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.info-text, #map{
  flex: none;
}

#map { height: 400px;
width: 600px;
border: 2px;
padding: 20px}

img{
    width:100%;
    max-width:80px;
}
